.about {
  padding: 100px 0 50px;
}

.about__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.25; 
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 50px;
}

.about-grid {
  display: grid;
  grid-template-columns: minmax(300px, 600px) minmax(450px, 500px);
  grid-template-areas: 
  "image contents"
  "image quote";
  justify-content: space-between;
  gap: 60px 20px;
}


.about__image {
  grid-area: image;
  max-width: 100%;
  object-fit: contain;
  object-position: top;
}

.about__contents {
  grid-area: contents;
}

.about__text {
  font-size: 20px;
  line-height: 1.4;
  margin: 0 0 40px;
}

.about__text:last-child {
  margin: 0;
}

.quote {
  grid-area: quote;
  margin: 0;
}

.quote__text {
  position: relative;
  display: inline-block;
  font-family: inherit;
  max-width: 415px;
  font-size: 44px;
  line-height: 1.13;
  text-transform: uppercase;
  margin: 0 0 40px;
  padding-left: 35px;
}

.quote__text:before {
  position: absolute;
  content: "\201C";
  color: var(--color-magenta-300);
  font-size: 44px;
  font-weight: 900;
  top: -8px;
  left: 0;
}

.quote__text:after {
  content: " \201D";
  color: var(--color-magenta-300);
  font-weight: 900;
}

.quote__text-phrase {
  font-weight: 400;
}

.quote__author {
  font-size: 20px;
  line-height: 1.4;
  max-width: 270px;
  text-align: left;
  margin: 0;
}

.quote__author-block {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 30px;
  margin: 0;
}

.quote__author-image {
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
}

@media (max-width: 1045px) {
  .about {
    padding: 70px 0 20px;
  }

  .about-grid {
    grid-template-columns: minmax(300px, 420px) minmax(400px, 444px);
    gap: 26px 20px;
  }

  .about__image {
    height: auto;
  }

  .about__title {
    font-size: 30px;
    line-height: 1.33;
    margin: 0 0 26px;
  }

  .about__text {
    font-size: 18px;
    line-height: 1.33;
    margin: 0 0 32px;
  }

  .quote__text {
    font-size: 30px;
    line-height: 1.2;
    margin: 0 0 13px;
    padding-left: 25px;
  }

  .quote__text:before {
    font-size: 30px;
    line-height: 1.2;
    top: -11px;
  }

  .quote__author-block {
    column-gap: 35px;
  }

  .quote__author-image {
    width: 70px;
    height: 70px;
  }

  .quote__author {
    font-size: 18px;
    max-width: 240px;
  }
}

@media (max-width: 795px) {
  .about {
    padding: 60px 0 10px;
  }

  .about-grid {
    grid-template-columns: minmax(300px, 382px) minmax(200px, 278px);
    grid-template-areas: 
    "image contents"
    "quote quote";
    gap: 30px 28px;
  }

  .about__title {
    font-size: 24px;
    line-height: 1.5;
    margin: 0 0 30px;
  }

  .about__text {
    font-size: 16px;
    line-height: 1.37;
  }

  .about__contents {
    align-self: center;
  }

  .quote__text {
    font-size: 32px;
    line-height: 1.12;
    max-width: 580px;
    margin: 0 0 16px;
    padding-left: 22px;
  }

  .quote__text:before {
    font-size: 32px;
    line-height: 1.12;
  }

  .quote__author-block {
    column-gap: 25px;
  }

  .quote__author {
    max-width: 232px;
  }
}

@media (max-width: 610px) {
  .about-grid {
    grid-template-columns: 1fr;
    grid-template-areas: 
    "contents"
    "image"
    "quote";
    gap: 20px 0;
  }
}

@media (max-width: 425px) {
  .about {
    padding: 30px 0 10px;
  }

  .about__title {
    font-size: 14px;
    line-height: 1.28;
    margin: 0 0 15px;
  }

  .about__text {
    font-size: 12px;
    line-height: 1.33;
  }

  .quote__text {
    font-size: 18px;
    line-height: 1.44;
    padding-left: 13px;
  }

  .quote__text:before {
    font-size: 18px;
    top: -6px;
  }

  .quote__author-block {
    justify-content: flex-start;
    column-gap: 11px;
  }

  .quote__author-image {
    width: 56px;
    height: 56px;
  }

  .quote__author {
    font-size: 12px;
    line-height: 1.33;
    max-width: 160px;
  }
}





