.contacts {
  padding: 50px 0 10px;
}

.contacts__title {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px; 
  text-transform: uppercase;
  margin: 0 0 54px;
}

.contacts__flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 155px;
}

.address {
  padding: 0 0 40px;
}

.address__link {
  display: block;
  max-width: max-content;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
  color: inherit;
  padding-left: 65px;
  background-repeat: no-repeat;
  background-position: left;
}

.address__link:hover {
  color: #cd06ff;
}

.address__link:focus {
  outline: 2px solid #cd06ff;
}

.address__link:active {
  color: #640aa3;
}

.address__link_type_location {
  white-space: pre-line;
  line-height: 28px;
  margin: 0 0 38px;
  background-image: url("../images/footer/location.svg");
}

.address__link_type_phone {
  margin: 0 0 11px;
  background-image: url("../images/footer/phone.svg");
}

.address__link_type_email {
  line-height: 28px; 
  margin: 0;
  background-image: url("../images/footer/mail.svg");
}

.social__list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0;
}

.social__item {
  display: inline-block;
  vertical-align: middle;
}

.social__item:not(:last-child) {
  margin-right: 25px;
}

.social__link {
  display: block;
  color: #fff;
}

.social__link:hover {
  color: #edeeed;
}

.social__link:focus {
  outline: 1px solid #cd06ff;
  color: #edeeed;
}

.social__link:active {
  color: #cd06ff;
  outline: none;
}

.contacts__map {
  /* width: calc(100% - 500px); */
  max-width: 100%;
  /* object-fit: contain; */
}

.contacts-bottom {
  display: flex;
  justify-content: space-between;
}

.contacts-bottom__text {
  font-size: 14px;
  line-height: 1.14;
  margin: 0;
}

.contacts-designer {
  text-align: right;
}

.contacts-bottom__link {
  text-decoration: none;
  color: inherit;
}

.contacts-bottom__link:hover {
  color: #cd06ff;
}

.contacts-bottom__link:focus {
  outline: 2px solid #cd06ff;
}

.contacts-bottom__link:active {
  color: #640aa3;
}

