.contacts {
  padding: 50px 0 21px;
  background: var(--bg-linear-gradient);
}

.contacts__title {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px; 
  text-transform: uppercase;
  margin: 0 0 54px;
}

.contacts__flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 145px;
}

.address {
  margin-bottom: 40px;
}

.address__link {
  display: block;
  max-width: max-content;
  font-size: 24px;
  line-height: 1.16;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
  color: inherit;
  padding-left: 65px;
  background-repeat: no-repeat;
  background-position: left;
  transition: color .3s ease-in;
}

.address__link:hover {
  color: var(--color-magenta-100);
}

.address__link:focus {
  outline: 2px solid var(--color-magenta-100);
}

.address__link:active {
  color: var(--color-purple);
}

.address__link_type_location {
  white-space: pre-line;
  margin: 0 0 38px;
  background-image: url("../images/footer/location.svg");
}

.address__link_type_phone {
  margin: 0 0 11px;
  background-image: url("../images/footer/phone.svg");
}

.address__link_type_email {
  margin: 0;
  background-image: url("../images/footer/mail.svg");
}

.social__list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0;
  display: flex;
  gap: 0 26px;
}

.social__link {
  display: block;
  color: var(--main-color);
  transition: color .3s ease-in;
}

.social__link:hover {
  color: var(--color-grey);
}

.social__link:focus {
  outline: 1px solid var(--color-magenta-100);
  color: var(--color-grey);
}

.social__link:active {
  color: var(--color-magenta-100);
  outline: none;
}

.contacts__map {
  max-width: 100%;
}

.contacts-bottom {
  display: flex;
  justify-content: space-between;
}

.contacts-bottom__text {
  font-size: 14px;
  line-height: 1.14;
  margin: 0;
}

.contacts-designer {
  display: flex;
  flex-direction: column;
  gap: 6px 0;
  align-items: flex-end;
}

.contacts-bottom__link {
  text-decoration: none;
  color: inherit;
  transition: color .3s ease-in;
}

.contacts-bottom__link:hover {
  color: var(--color-magenta-100);
}

.contacts-bottom__link:focus {
  outline: 2px solid var(--color-magenta-100);
}

.contacts-bottom__link:active {
  color: var(--color-purple);
}


@media (max-width: 1110px) {
  .contacts {
    padding: 50px 0 19px;
  }

  .contacts__flex {
    margin-bottom: 92px;
  }

  .contacts__title {
    font-size: 30px;
    line-height: 1.33; 
    margin: 0 0 26px;
  }

  .address__link {
    background-size: 26px 26px;
    padding-left: 39px;
  }

  .social__icon {
    width: 40px;
    height: 40px;
  }

  .address__link_type_location {
    margin: 0 0 40px;
  }

  .address__link_type_phone {
    margin: 0 0 7px;
  }

  .contacts__map {
    width: 542px;
  }
}

@media (max-width: 920px) {
  .contacts__map {
    width: 475px;
    object-fit: cover;
    object-position: top;
  }

}

@media (max-width: 850px) {
  .contacts {
    padding: 60px 0 18px;
  }

  .contacts__flex {
    flex-direction: column;
    align-items: center;
    margin-bottom: 75px;
  }

  .contacts__title {
    font-size: 24px;
    line-height: 1.5; 
    margin: 0 0 30px;
  }

  .contacts__map {
    width: 688px;
    height: 337px;
  }

  .address {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .address__link_type_location {
    background-image: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 0.5;
    margin: 0 0 35px;
  }

  .link-location__span:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    background-image: url("../images/footer/location.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 26px 26px;
    width: 26px;
    height: 26px;
    margin-right: 4px;
  }

  .address__link_type_phone {
    margin: 0 0 27px;
  }

  .address {
    margin-bottom: 27px;
  }

  .social {
    margin-bottom: 30px;
  }

  .social__list {
    justify-content: center;
  }

}

@media (max-width: 500px) {
  .contacts__map {
    height: 395px;
  }
}

@media (max-width: 475px) {
  .contacts {
    padding: 20px 0 24px;
  }

  .contacts__title {
    font-size: 14px;
    line-height: 1.28;
    margin: 0 0 15px;
  }

  .address__link {
    font-size: 14px;
    line-height: 1.28;
    background-size: 20px 20px;
    padding-left: 27px;
  }

  .address__link_type_location {
    line-height: 0.5;
    padding: 0;
    margin: 0 0 15px;
  }

  .address__link_type_phone {
    margin: 0 0 10px;
  }

  .link-location__span:before {
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
  }

  .address {
    margin-bottom: 10px;
  }

  .social__icon {
    width: 30px;
    height: 30px;
  }

  .social__list {
    gap: 0 20px;
  }

  .social {
    margin-bottom: 35px;
  }

  .contacts__flex {
    margin-bottom: 63px;
  }

  .contacts-bottom {
    flex-direction: column;
    align-items: center;
    gap: 24px 0;
  }

  .contacts-designer {
    align-items: center;
  }

  .contacts-bottom__text {
    font-size: 12px;
    line-height: 1.33;
  }
}

