.faq {
  padding: 50px 0;
}

.faq__title {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.25; 
  text-transform: uppercase;
  margin: 0 0 40px;
}

.faq__list {
  list-style: none;
  padding: 0;
  margin: 0; 
}

.faq__item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 24px;
  padding: 20.5px 70px;
  margin-bottom: 20px;
  line-height: 1.16; 
}

.faq__button {
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.faq__button:before {
  content: "";
  position: absolute;
  inset: 0;
}

.faq__button:focus:before {
  outline-offset: 5px;
  outline: 2px solid var(--color-magenta-200);
}

.faq__item:last-child {
  margin-bottom: 0;
}

.faq__item:nth-child(even) {
  color: var(--main-color);
  background-color: var(--color-magenta-400);
}

.faq__item:nth-child(odd) {
  background-color: var(--main-color);
  color: #1C1A1A;
}

.faq__icon {
  color: var(--color-magenta-300);
  border: 1px solid var(--color-magenta-300);
  border-radius: 50%;
  transition: background-color .4s ease-in, color .4s ease-in;
}

.faq__icon_color_white {
  color: var(--main-color);
  border: 1px solid var(--main-color);
}

.faq__button:hover .faq__icon {
  color: var(--main-color);
  background-color: var(--color-magenta-300);
}

.faq__button:hover .faq__icon_color_white {
  color: var(--color-magenta-300);
  background-color: var(--main-color);
}

.faq__button:focus .faq__icon-active {
  display: none;
}

.faq__button:active .faq__icon {
  color: var(--color-magenta-300);
  background-color: var(--main-color);
}

.faq__button:active .faq__icon_color_white {
  color: var(--main-color);
  background-color: var(--color-magenta-300);
}

.faq__button:active .faq__icon-active {
  display: none;
}

@media (max-width: 1040px) {
  .faq {
    padding: 20px 0 ;
  }

  .faq__title {
    font-size: 30px;
    line-height: 1.33; 
    margin: 0 0 26px;
  }

  .faq__item {
    font-size: 20px;
    line-height: 1.2;
    padding: 12px 20px 12px 25px;
  }

  .faq__item_margin_zero {
    margin: 0;
  }

  .faq__item_visible_none {
    display: none;
  }

  .faq__item:nth-child(even) {
    background-color: var(--main-color);
    color: #1C1A1A;
  }

  .faq__icon_color_white {
    color: var(--color-magenta-300);
    border: 1px solid var(--color-magenta-300);
  }

  .faq__button:hover .faq__icon_color_white {
    color: var(--main-color);
    background-color: var(--color-magenta-300);
  }
}

@media (max-width: 780px) {
  .faq {
    padding: 10px 0 ;
  }

  .faq__title {
    font-size: 24px;
    line-height: 1.08; 
    margin: 0 0 30px;
  }

  .faq__item {
    font-size: 18px;
    line-height: 1.33;
    padding: 12px 54px;
    margin: 0 0 16px;
  }

  .faq__item_margin_zero {
    margin: 0;
  }
}

@media (max-width: 640px) {
  .faq__item {
    font-size: 15px;
  }
}

@media (max-width: 475px) {
  .faq__title {
    font-size: 14px;
    line-height: 1.28; 
    margin: 0 0 15px;
  }

  .faq__item {
    font-size: 12px;
    padding: 8px 13px 8px 10px;
    margin: 0 0 10px;
  }

  .faq__item_margin_zero {
    margin: 0;
  }

  .faq__icon {
    width: 30px;
    height: 30px;
  }
}





