.halls {
  padding: 50px 0;
}

.halls__title {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px; 
  text-transform: uppercase;
  margin: 0 0 60px;
}

.halls__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.halls__item {
  white-space: pre-line;
  font-size: 70px; 
  font-weight: 700;
  line-height: 80px; 
  text-transform: uppercase;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 275px;
  padding-bottom: 275px;
}

.halls__item:not(:last-child) {
  margin-bottom: 60px;
}

.halls__item_theme_80-vibes {
  background-image: url("../images/main/vibes.jpg");
}

.halls__item_theme_star-wars {
  background-image: url("../images/main/star.jpg");
}

.halls__item_theme_wild-west {
  background-image: url("../images/main/west.jpg");
}

.halls__item_theme_neon-style {
  background-image: url("../images/main/neon.jpg");
}