.halls {
  padding: 50px 0 100px 0;
}

.halls__title {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px; 
  text-transform: uppercase;
  margin: 0 0 40px;
}

.halls__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
}

.halls__item {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: calc(50% - 10px);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 135px;
  padding-bottom: 135px;
}

.halls__link {
  font-size: 70px; 
  font-weight: 700;
  line-height: calc(80 / 70); 
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: inherit;
}

.halls__link:hover {
  color: #af99b4;
}

.halls__link:focus {
  color: #6d5d70;
  outline: none;
}

.halls__link:active {
  color: #563f5a;
}



.halls__item_theme_80-vibes {
  background-image: url("../images/main/vibes.jpg");
}

.halls__item_theme_star-wars {
  background-image: url("../images/main/star.jpg");
}

.halls__item_theme_wild-west {
  background-image: url("../images/main/west.jpg");
}

.halls__item_theme_neon-style {
  background-image: url("../images/main/neon.jpg");
}