.halls {
  padding: 50px 0 100px;
}

.halls__title {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px; 
  text-transform: uppercase;
  margin: 0 0 40px;
}

.halls__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
}

.halls__item {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: calc(50% - 10px);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: calc(175 / 1180 * 100% - 80px) 0;
}

.halls__link {
  font-size: 70px; 
  font-weight: 700;
  line-height: 1.14; 
  text-transform: uppercase;
  max-width: 215px;
  text-align: center;
  text-decoration: none;
  color: inherit;
  outline: none;
  transition: color .3s ease-in;
}

.halls__link:before {
  content: "";
  position: absolute;
  inset: 0;
  transition: box-shadow .3s ease-in;
}

.halls__link:hover {
  color: #af99b4;
}

.halls__link:hover:before{
  box-shadow:  0 0 3px #fff;
}

.halls__link:focus:before {
  color: #6d5d70;
  outline-offset: 3px;
  outline: 3px solid var(--color-magenta-200);
}

.halls__link:active {
  color: #563f5a;
}

.halls__item_theme_80-vibes {
  background-image: url("../images/halls/vibes.jpg");
}

.halls__item_theme_star-wars {
  background-image: url("../images/halls/star.jpg");
}

.halls__item_theme_wild-west {
  background-image: url("../images/halls/west.jpg");
}

.halls__item_theme_neon-style {
  background-image: url("../images/halls/neon.jpg");
}

@media (max-width: 1125px) {
  .halls {
    padding: 20px 0 70px;
  }

  .halls__title {
    font-size: 30px;
    line-height: 1.33;
    margin: 0 0 37px;
  }

  .halls__link {
    font-size: 50px;
    line-height: 1.2;
    max-width: 165px;
  }

  .halls__item {
    padding: calc(133 / 904 * 100% - 60px) 0;
  }
}

@media (max-width: 770px) {
  .halls {
    padding: 10px 0 62px;
  }

  .halls__title {
    font-size: 24px;
    line-height: 1.5;
    margin: 0 0 35px;
  }

  .halls__link {
    font-size: 40px;
    line-height: 1.25;
  }

  .halls__item {
    padding: calc(100 / 688 * 100% - 50px) 0;
  }
}

@media (max-width: 635px) {
  .halls__list {
    flex-direction: column;
  }

  .halls__item {
    max-width: none;
    padding: calc(150 / 575 * 100% - 50px) 0;
  }
}

@media (max-width: 400px) {
  .halls {
    padding: 10px 0 30px;
  }

  .halls__title {
    font-size: 14px;
    line-height: 1.28;
    margin: 0 0 15px;
  }

  .halls__link {
    font-size: 26px;
    line-height: 1.3;
    max-width: 85px;
  }

  .halls__item {
    padding: calc(84 / 280 * 100% - 34px) 0;
  }
}