.header {
  padding: 30px 0 0 0;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation__list {
  display: flex;
  list-style: none;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.navigation__link {
  font-size: 22px;
  line-height: 2.27;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  transition: color .3s ease-in;
}

.navigation__link:hover {
  color: var(--color-purple);
}

.navigation__link:focus {
  outline: 2px solid var(--color-purple);
}

.navigation__link:active {
  color: var(--color-magenta-100);
}

.header__button {
  font-size: 22px;
  line-height: 1.36364;
  font-weight: 700;
  padding: 0;
  padding: 9.5px 29.5px;
  color: inherit;
  background-color: inherit;
  text-transform: uppercase;
  border: 3px solid var(--color-magenta-100);
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  transition: background-color .3s ease-in, border-color .3s ease-in;
}

.header__button:hover, .header__button:focus {
  background-color: var(--color-magenta-300);
  border-color: var(--color-magenta-300);
}

.header__button:active {
  border: 1px solid #000;
  background-color: var(--color-purple);
  padding: 11.5px 31.5px;
}

