.hero {
  padding: 50px 0;
}

.hero__container {
  position: relative;
  padding-bottom: 154px;
}

.hero__title {
  font-size: 150px;
  font-weight: 900;
  line-height: 1; 
  letter-spacing: -15px;
  text-transform: uppercase;
  margin: 0;
}

.hero__subtitle {
  font-size: 28px;
  font-weight: 400;
  line-height: 1.78;
  margin: 0 0 30px;
  padding-left: 100px;
}

.hero__container:after {
  position: absolute;
  content: "";
  background-image: url("../images/hero/hero.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  right: 0;
  bottom: 0;
  width: 675px;
  height: 762px;
}

.hero__description {
  display: flex;
  align-items: flex-end;
  gap: 40px;
  margin-bottom: 150px;
}

.hero-description-text {
  display: flex;
  flex-direction: column;
  max-width: min-content;
  font-weight: 400;
  font-size: 30px;
  margin: 0;
  text-align: center;
}

.hero__description-halls {
  font-weight: 900;
  font-size: 100px;
  line-height: 1.4;
  color: var(--color-magenta-100);
}

.hero__description-equipment {
  font-weight: 900;
  font-size: 75px;
  line-height: 1.5;
  font-variant: small-caps;
  color: var(--color-magenta-100);
}

.hero__button {
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.15385;
  max-width: 374px;
  width: 100%;
  padding: 25px 0;
  text-transform: uppercase;
  color: var(--main-color);
  border: none;
  border-radius: 10px;
  background-color: var(--color-magenta-300);
  box-shadow: 2px 2px 20px var(--color-magenta-300);
  cursor: pointer;
  outline: none;
  transition: background-color .3s ease-in;
}

.hero__button:hover, .hero__button:focus {
  background-color: var(--color-magenta-200);
}

.hero__button:active {
  background-color: var(--color-purple);
}

.hero__arrow-down {
  display: block;
  position: absolute;
  left: 50%;
  bottom: 90px;
  transform: translateX(-50%);
  z-index: 5;
  font-size: 0;
  line-height: 0;
}

.arrow-down {
  max-width: 100%;
  height: auto;
  color: white;
  border-radius: 50%;
  outline: none;
  transition: color .3s ease-in, background-color .5s ease-in;
}

.arrow-down:hover {
  background-color: #fff;
}

.arrow-down:hover .arrow-down__check{
  fill: var(--color-magenta-300);
}

.hero__arrow-down:focus {
  outline-offset: 2px;
  outline: 1px solid var(--color-magenta-100);
}

.arrow-down:active {
  background-color: var(--color-magenta-100);
  color: var(--color-magenta-100);
}

.arrow-down:active .arrow-down__check {
  fill: white;
}

@media (max-width: 1100px) {
  .hero {
    padding: 33px 0;
  }

  .hero__container {
    padding-bottom: 66px;
  }
  
  .hero__title {
    font-size: 120px;
    margin: 0 0 17px;
    letter-spacing: -12px;
  }

  .hero__subtitle {
    font-size: 22px;
    line-height: 1.36;
  }

  .hero__container:after {
    max-width: 453px;
    max-height: 520px;
  }

  .hero__description {
    margin-bottom: 80px;
  }

  .hero-description-text {
    font-size: 26px;
  }
  
  .hero__description-halls {
    font-size: 80px;
  }
  
  .hero__description-equipment {
    font-size: 60px;
    line-height: 1.4;
  }

  .hero__button-box {
    padding-left: 39px;
  }
  
  .hero__button {
    font-size: 22px;
    line-height: 1.36;
    width: 296px;
    padding: 17.1px 0;
  }

  .hero__arrow-down {
    width: 67px;
    bottom: 46px;
  }
}

@media (max-width: 890px) {
  .hero__button-box {
    padding: 0;
  }
}


@media (max-width: 810px) {
  .hero {
    padding: 30px 0;
  }

  .hero__container {
    padding-bottom: 104px;
  }

  .hero__title {
    font-size: 86px;
    margin: 0 0 20px;
    letter-spacing: -8.6px;
  }

  .hero__subtitle {
    font-size: 18px;
    line-height: 1.33;
    margin: 0 0 50px;
    padding-left: 70px;
  }

  .hero__container:after {
    max-width: 409px;
    max-height: 479px;
  }

  .hero__description {
    margin-bottom: 100px;
    gap: 30px;
  }

  .hero-description-text {
    font-size: 16px;
    line-height: 1.13;
  }
  
  .hero__description-halls {
    font-size: 50px;
    line-height: 1.42;
  }
  
  .hero__description-equipment {
    font-size: 40px;
  }

  .hero__button {
    font-size: 16px;
    line-height: 1.5;
    width: 214px;
    padding: 11px 0;
    border-radius: 4px;
  }
}

@media (max-width: 700px) {
  .hero__container {
    padding-bottom: 53px;
  }

  .hero__title {
    font-size: 78px;
    margin: 0 0 10px;
    letter-spacing: -8.6px;
  }

  .hero__subtitle {
    font-size: 15px;
    padding-left: 50px;
    margin: 0 0 30px;
  }

  .hero__container:after {
    max-width: 300px;
    max-height: 340px;
  }

  .hero__description {
    margin-bottom: 50px;
  }

  .hero__button {
    font-size: 13px;
    line-height: 1.3;
    width: 170px;
    padding: 11px 0;
    border-radius: 4px;
  }

  .hero__arrow-down {
    width: 53px;
    bottom: 25px;
  }
}

@media (max-width: 560px) {
  .hero__title {
    font-size: 65px;
    margin: 0 0 15px;
    letter-spacing: -2.6px;
  }

  .hero__container:after {
    max-width: 268px;
    max-height: 305px;
  }

  .hero__subtitle {
    margin: 0 0 5px;
  }

}

@media (max-width: 480px) {
  .hero__title {
    font-size: 60px;
    margin: 0 0 6px;
  }

  .hero__description {
    margin-bottom: 35px;
  }

   .hero__container:after {
    max-width: 244px;
    max-height: 279px;
  }

}

@media (max-width: 446px) {
  .hero__title {
    font-size: 52px;
  }

  .hero-description-text {
    font-size: 13px;
  }
  
  .hero__description-halls {
    font-size: 30px;
  }
  
  .hero__description-equipment {
    font-size: 26px;
  }

  .hero__container:after {
    max-width: 213px;
    max-height: 241px;
  }

  .hero__arrow-down {
    width: 43px;
  }

  .hero__button {
    font-size: 12px;
    line-height: 1.2;
    width: 150px;
    padding: 9.5px 0;
  }

}

@media (max-width: 410px) {
  .hero__container {
    padding-bottom: 25px;
  }

  .hero__title {
    font-size: 45px;
  }

  .hero__subtitle {
    font-size: 13px;
    padding-left: 30px;
  }

  .hero__description {
    gap: 30;
  }

  .hero__container:after {
    max-width: 178px;
    max-height: 204px;
  }
}


@media (max-width: 388px) {
  .hero {
    padding: 20px 0;
  }

  .hero__arrow-down {
    width: 40px;
    bottom: 6px;
  }

  .hero__container {
    padding-bottom: 23px;
  }

  .hero__title {
    font-size: 35px;
    margin: 0 0 6px;
    letter-spacing: -2.6px;
  }

  .hero__subtitle {
    font-size: 10px;
    padding-left: 20px;
    margin: 0 0 10px;
  }

  .hero__description {
    margin-bottom: 30px;
    gap: 20px;
  }

  .hero-description-text {
    font-size: 10px;
    line-height: 1.1;
  }
  
  .hero__description-halls {
    font-size: 26px;
    line-height: 1.425;
  }
  
  .hero__description-equipment {
    font-size: 22px;
  }

  .hero__button {
    font-size: 10px;
    line-height: 1.2;
    width: 117px;
    padding: 7.5px 0;
  }

  .hero__container:after {
    max-width: 161px;
    max-height: 179px;
  }

}