.form {
  display: flow-root;
}

.reservation {
  padding: 80px 0;
  background-color: #440f51;
}

.reservation__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.25; 
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 50px;
}

.form__fieldset {
  border: none;
  margin: 0 0 60px;
  padding: 0;
}

.reservation-choose {
  margin-bottom: 40px;
}

.form__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 40px;
}

.reservation-halls__flex {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.reservation-halls__name {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.33;
  text-align: center;
  flex-basis: 250px;
  padding: 5px 0;
  text-transform: uppercase;
  border-radius: 8px;
  background-color: #fff;
  border: 3px solid transparent;
  color: #000;
  cursor: pointer;
}

.reservation-halls__name:hover {
  background-color: #eadeed;
  border-color: #640aa3;
}

.reservation-halls__control:focus+.reservation-halls__name {
  background-color: #fff;
  border-color: #640aa3;
}

.reservation-halls__control:active+.reservation-halls__name {
  background-color: #6c0287;
  border-color: #fff;
  color: #fff;
}

.reservation-halls__control:checked+.reservation-halls__name {
  background-color: #6c0287;
  border-color: #fff;
  color: #fff;
}



.reservation-kit__flex {
  display: flex;
  justify-content: space-evenly;
}

.reservation-kit__fieldset {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
}

.form__subtitle {
  margin-bottom: 23px;
}

.reservation-kit__name {
  font-size: 22px;
  margin-bottom: 20px;
  cursor: pointer;
}

.reservation-kit__name:last-child {
  margin-bottom: 0;
}

.reservation-kit__control {
  display: inline-block;
  vertical-align: bottom;
  margin-right: 8px;
  width: 27px;
  height: 27px;
  cursor: pointer;
}

.reservation-kit__control:focus {
  outline-offset: 3px;
  outline: 1px solid #cd06ff;
}

.reservation-kit__control_size_small {
  width: 25px;
  height: 25px;
}

.reservation-choose__flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.reservation-choose__date {
  position: relative;
  width: 134px;
  font-size: 18px;
  line-height: 1.55;
  padding: 9px 6px;
  border: 2px solid #fff;
  outline: none;
}

.reservation-choose__date:focus {
  border-color: #cd06ff;
}

.choose-date {
  margin-bottom: 36px;
}

.reservation-choose__column {
  flex-basis: 300px;
}

.reservation-choose__column_size_small {
  max-width: 280px;
}

.reservation-choose__name {
  display: block;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  margin-bottom: 6px;
}

.reservation-choose__input {
  font-size: 18px;
  line-height: 1.55;
  width: 100%;
  border: 2px solid #fff;
  padding: 10px;
  outline: none;
}

.reservation-choose__input:focus {
  border-color: #cd06ff;
}

.reservation-choose__input:not(:last-child) {
  margin-bottom: 14px;
}


.form__button {
  font-size: 22px;
  line-height: 1.27;
  font-weight: 700;
  text-transform: uppercase;
  color: #6c0287;
  border: none;
  border-radius: 10px;
  background-color: #fff;
  border: 3px solid #fff;
  padding: 13px 47px;
  float: right;
  cursor: pointer;
  outline: none;
}

.form__button:hover {
  background-color: #eadeed;
  border-color: #6c0287;
}

.form__button:focus {
  background-color: #fff;
  border-color: #6c0287;
}

.form__button:active {
  background-color: #eadeed;
  border-color: #eadeed;
}

.reservation-choose__input::placeholder {
  font-size: 18px;
  color: #000;
}


.reservation-choose__date:before {
  content: attr(data-placeholder);
  padding-left: 20px;
  width: 100%;
}

.reservation-choose__date:focus::before,
.reservation-choose__date:valid::before { display: none }

.reservation-choose__date::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 13px;
  right: 10px;
  background-image: url("../images/main/arrow-down.svg");
  background-repeat: no-repeat;
  background-size: 21px 15px;
  margin: 0;
  cursor: pointer;
}
